# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
#/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

# Assets
/web/assets
/runtime
/condig/db.php
/condig/params.php
/condig/web.php
/migrations/m200804_115556_create_items_table.php
/migrations/m200806_061656_update_items_table.php
/migrations/m200810_082546_create_status_table.php
/migrations/m200818_045741_create_types_table.php
/migrations/m200818_123015_create_locations_table.php
